*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #F4F9F9;
}

a{
  text-decoration: none;
  color: black;
  text-align: center;
  align-items: center;
}

li{
  list-style: none;
}

.btns{
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: azure;
  cursor: pointer;
}