.foot{
    background-color: black;
    /* color:white; */
}

.footerMail{
display: flex;
background-color: black;
margin: 10px;
}

input[type="email"]{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}

.signUpMail{
    display: flex;
    background-color: rgb(9, 167, 49);
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}

.footerContent{
    display: flex;
    background-color: black;
    color:white;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.content{
display: flex;
flex-direction: column;
flex-wrap: wrap;
background-color: black;
color: white;
}

.footerTitle{
    background-color: black;
    color: white;
    text-align: center;
}

.footerListContent ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
}

.footerListContent ul li,  .footerListContent ul li a{
    background-color: black;
    color: white;
}

.social,.social h2, .social-icon, .media-icon{
    background-color: black;
    color: white;
}

.social{
    margin: 10px 20px;
}

.insta{
    color:rgb(152, 52, 13);
}
.facebook{
    color:rgb(7, 14, 227);
}
.twitter{
    color:rgb(55, 197, 241);
}

.media-icon{
    width:3rem;
    height: 1.5rem;
    margin: 10px 0px;
}

.copyright, .copyright footer, .copyright footer a{
    background-color: black;
    color: white;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.copyright footer{
    text-align: center;
    margin: 10px;
    padding:0% 10%;
    
}

