.card-container{
    display: flex;
    /* justify-content: center; */
    flex-wrap:wrap;
    margin-left:15rem;
    margin-top: 2rem;
    /* background-color: white; */
    /* width: 13rem; */
    
    z-index: -2;
    height: 1000px;
    overflow-y: auto;
}

.card{
    margin: 20px;
    border: 2px solid white;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 3px 8px gray;
}

.card-img{
    width: 100%;
    border-bottom: 2px solid white;
    box-shadow: 0px 3px 2px gray;
    /* height: 17rem; */
    margin-bottom: 1rem;
    background-color: white;
}

.card-title{
    background-color: white;
    margin-bottom: 1rem;
}

.card-reviews{
    background-color: white;
    margin-bottom: 1rem;
    display: flex;
}

.rating-star{
    background-color: white;
    color: gold;
}

.card-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.card-details,.price  {
    background-color: white;
}
.bag{
    background-color: white;
}

.total-reviews{
    font-size: 0.9rem;
    margin-left: 10px;

}

/* .bag-icon{

} */
